.principal {
  background-image: url("https://4kwallpapers.com/images/wallpapers/sith-star-wars-lightsaber-dark-background-2048x2048-5554.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-right: 2%;
  padding-left: 2%;
  color: white;
  text-align: center;
  display: grid;
  align-content: stretch;
  justify-items: stretch;
  justify-content: stretch;
  grid-template-areas: "header header" "nav main" "nav section";
  grid-template-columns: 35% 65%;
  gap: 2%; }
  .principal header {
    grid-area: header; }
    .principal header h1 {
      padding: 5%; }
  .principal nav {
    grid-area: nav; }
    .principal nav ul li {
      margin-right: 3%;
      margin-left: 3%;
      margin-top: 5%;
      margin-bottom: 5%;
      padding: 5%; }
  .principal main {
    grid-area: main; }
    .principal main h2 {
      text-align: center; }
    .principal main div {
      font-style: oblique;
      margin: 5%;
      padding: 5%;
      text-transform: uppercase;
      font-weight: bold; }
    .principal main div:hover {
      background-image: url("https://www.logolynx.com/images/logolynx/46/466b40882cc9a58ff5756e14032101c6.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      text-transform: uppercase;
      margin: 5%;
      padding: 5%;
      text-transform: uppercase;
      font-weight: bold; }
  .principal section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
    .principal section div {
      margin: 2%;
      width: 40%;
      height: auto;
      border-radius: 10px; }
      .principal section div h3 {
        text-align: center; }
      .principal section div img {
        height: auto;
        width: 100%;
        border-radius: 20%;
        display: block; }

@media screen and (max-width: 768px) {
  .principal {
    display: grid;
    align-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "nav main" "nav section";
    gap: 2%; }
    .principal section {
      grid-area: section;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center; }
      .principal section div {
        margin: 2%;
        width: 80%;
        height: auto;
        border-radius: 10px; } }

@media screen and (max-width: 600px) {
  .principal {
    display: grid;
    align-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: " header" "nav" " main" " section";
    gap: 2%; }
    .principal nav {
      grid-area: nav;
      background-image: url("https://i.pinimg.com/originals/94/bc/07/94bc076520233b2021e4bf5e4fbe8bef.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .principal nav ul li {
        justify-self: stretch;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
        text-align: center; }
        .principal nav ul li a {
          padding: 5%; } }

.e_commers {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/exegol-1578431600.png?crop=0.832xw:1.00xh;0.0978xw,0&resize=1200:*");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center; }
  .e_commers header {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%; }
    .e_commers header img {
      height: 30%;
      width: 80%; }
    .e_commers header h1 {
      padding-top: 4%;
      padding-bottom: 4%; }
  .e_commers main {
    padding-top: 2%;
    padding-bottom: 2%; }
    .e_commers main img {
      padding: 2%;
      margin: 2%;
      height: 60%;
      width: 80%; }
  .e_commers section {
    margin-left: 10%;
    margin-right: 10%; }
    .e_commers section a {
      color: white; }
    .e_commers section .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: wrap;
      padding: 10%;
      align-items: baseline;
      justify-content: space-between; }
      .e_commers section .flex div {
        border: 6px double white;
        box-shadow: 0 0 25px white;
        padding: 2%;
        margin: 2%;
        text-align: center;
        width: 40%;
        height: auto;
        border-radius: 10px; }
        .e_commers section .flex div img {
          height: 40%;
          width: 60%; }
      .e_commers section .flex .rep_ship {
        background: #020024;
        background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #0f219f 39%, black 100%); }
      .e_commers section .flex .csi_ship {
        background: #020024;
        background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #5b5b5b 39%, black 100%); }
      .e_commers section .flex .emp_ship {
        background: #020024;
        background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #9f0f0f 39%, black 100%); }
      .e_commers section .flex .reb_ship {
        background: #020024;
        background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #9f5c0f 39%, black 100%); }

@media screen and (max-width: 768px) {
  .e_commers section .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    padding: 10%;
    align-items: baseline;
    justify-content: space-between; }
    .e_commers section .flex div {
      width: 100%;
      height: auto; } }

@media screen and (max-width: 600px) {
  .e_commers header img {
    height: 100%;
    width: 100%; } }

.republic {
  background-image: url("https://64.media.tumblr.com/3082189dc21f71bddde6916fac52b57d/d8758a3ec87488c1-b7/s1280x1920/5f447b56277982604bcfdc3d9d71cb9a1238b322.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%; }
  .republic header h2 {
    text-shadow: 0 0 25px #8d0000; }
  .republic main p {
    color: white;
    text-shadow: 0 0 20px #0235db;
    font-weight: 600; }
  .republic main .republic_history {
    background-image: url("../img/republic_logo.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%; }
  .republic main .kamino {
    background-image: url("https://live.staticflickr.com/5654/30747840391_f65e3987a9_b.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%; }
  .republic main .geonosis {
    background-image: url("https://pbs.twimg.com/media/DzfSp0xWoAYu0e_.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%; }
  .republic main button {
    padding: 1.1%; }
  .republic section .clones {
    background-image: url("https://i.pinimg.com/564x/4d/ff/95/4dff95c6a774e7ba5312f8e2494a8f14.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 3%;
    margin-top: 5%; }
    .republic section .clones img {
      height: 450px;
      width: auto; }
    .republic section .clones h2 {
      text-shadow: 0 0 25px #8d0000; }
    .republic section .clones .marines_4 {
      text-shadow: 0 0 20px #ff85cc;
      color: #ff85cc; }
      .republic section .clones .marines_4 img {
        border: 6px double #4f006e;
        box-shadow: 0 0 25px #4f006e; }
    .republic section .clones .batall_212 {
      text-shadow: 0 0 20px #ffbb00;
      color: #ffbb00; }
      .republic section .clones .batall_212 img {
        border: 6px double #ffbb00;
        box-shadow: 0 0 25px #ffbb00; }
    .republic section .clones .elite_41 {
      text-shadow: 0 0 20px #038f2d;
      color: #038f2d; }
      .republic section .clones .elite_41 img {
        border: 6px double #005218;
        box-shadow: 0 0 25px #005218; }
    .republic section .clones .movil_91 {
      text-shadow: 0 0 20px #f34242;
      color: white; }
      .republic section .clones .movil_91 img {
        border: 6px double white;
        box-shadow: 0 0 25px #f34242; }
    .republic section .clones .star_327 {
      text-shadow: 0 0 20px #ffa600;
      color: #ffa600; }
      .republic section .clones .star_327 img {
        border: 6px double #634c03;
        box-shadow: 0 0 25px #634c03; }
    .republic section .clones .legion_501 {
      text-shadow: 0 0 20px #127bf3;
      color: white; }
      .republic section .clones .legion_501 img {
        border: 6px double #0012b8;
        box-shadow: 0 0 25px #0012b8; }
    .republic section .clones .batall_104 {
      text-shadow: 0 0 20px white;
      color: white; }
      .republic section .clones .batall_104 img {
        border: 6px double #3f3f3f;
        box-shadow: 0 0 25px #3f3f3f; }
    .republic section .clones .coruscant {
      text-shadow: 0 0 20px red;
      color: white; }
      .republic section .clones .coruscant img {
        border: 6px double #460000;
        box-shadow: 0 0 25px #460000; }
    .republic section .clones .bad_99 {
      text-shadow: 0 0 20px #960505;
      color: white; }
      .republic section .clones .bad_99 img {
        border: 6px double black;
        box-shadow: 0 0 25px #960505; }
    .republic section .clones .delta {
      text-shadow: 0 0 20px #cf0505;
      color: #d6c803; }
      .republic section .clones .delta img {
        border: 6px double #8d4400;
        box-shadow: 0 0 25px #006800; }
  .republic section .final_war {
    background-image: url("https://i.pinimg.com/originals/8c/1f/1c/8c1f1c008e1a5b71d5292b65bd8eb52c.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%; }
    .republic section .final_war .flex div {
      margin: 1%;
      width: 49%; }
    .republic section .final_war p {
      color: white;
      text-shadow: 0 0 20px #0235db;
      font-weight: 600;
      padding-left: 5%;
      padding-right: 5%; }
    .republic section .final_war p:hover {
      transition: all 500ms ease-out;
      color: #b80000;
      text-shadow: 0 0 20px white;
      font-weight: 600;
      padding-left: 5%;
      padding-right: 5%; }
  .republic .padding_create_min {
    padding: 2%; }

@media screen and (max-width: 768px) {
  .republic section .clones img {
    height: 350px; }
  .republic section .final_war .flex {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5%;
    padding-right: 5%; }
    .republic section .final_war .flex div {
      margin: 1%;
      text-align: center;
      width: 90%; } }

@media screen and (max-width: 600px) {
  .republic section .clones img {
    height: 200px; }
  .republic section .final_war .flex {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5%;
    padding-right: 5%; }
    .republic section .final_war .flex div {
      margin: 1%;
      text-align: center;
      width: 90%; } }

.separatist {
  background-image: url("https://i.pinimg.com/originals/1d/52/02/1d520240b47d68f43da0ba7a41c7c466.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px; }
  .separatist header h2 {
    text-shadow: 0 0 25px #00c5c5; }
  .separatist main button {
    font-weight: 700; }
  .separatist main .crisis_separatist {
    background-image: url("https://pm1.narvii.com/6439/4b30c61839e4d26bf630955bcc4e0d6b2d625fd6_hq.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 100%;
    background-size: cover;
    padding: 3%;
    text-shadow: 0 0 10px white;
    color: #000f66;
    font-weight: 700; }
  .separatist main .factory {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/screen_shot_2015-05-13_at_4_46a06f3e.jpeg?region=96%2C0%2C2067%2C1035");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 100%;
    background-size: cover;
    padding: 3%;
    text-shadow: 0 0 20px #023ca8;
    color: white;
    font-weight: 500; }
  .separatist main .clone_wars {
    background-image: url("https://allgamersin.com/wp-content/uploads/2019/03/Star-Wars-Battlefront2-modo-Supremacia-Capital_1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 100%;
    background-size: cover;
    padding: 3%;
    text-shadow: 0 0 20px white;
    color: #000f66;
    font-weight: 700; }
  .separatist section h3 {
    text-shadow: 0 0 15px #7e0000; }
  .separatist section img {
    height: 40%;
    width: 60%;
    border-radius: 20px;
    border: 6px double white;
    box-shadow: 0 0 25px white; }
  .separatist section .droid_army {
    background-image: url("../img/droide_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    padding: 3%; }
    .separatist section .droid_army .flex {
      display: flex;
      flex-direction: row;
      padding-left: 2%;
      padding-right: 2%;
      align-items: baseline;
      justify-content: space-between; }
      .separatist section .droid_army .flex h3 {
        text-shadow: 0 0 18px #6eadff; }
      .separatist section .droid_army .flex .black {
        background-color: black;
        background-size: cover; }
        .separatist section .droid_army .flex .black h3 {
          padding: 3%; }
      .separatist section .droid_army .flex .cart_droid {
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
        width: 45%;
        height: auto;
        border: 4px solid #ffffff;
        box-shadow: 0 0 35px #720000;
        border-radius: 10px; }
        .separatist section .droid_army .flex .cart_droid .fed_comercio {
          background-image: url("https://gcdn.lanetaneta.com/wp-content/uploads/2022/01/Star-Wars-Eclipse-%C2%BFLa-Federacion-de-Comercio-rompe-la-linea.5.jpeg");
          background-repeat: no-repeat;
          background-position: center top;
          background-attachment: scroll;
          background-size: cover; }
          .separatist section .droid_army .flex .cart_droid .fed_comercio p {
            color: #000000;
            font-weight: 700;
            text-shadow: 0 0 20px white; }
          .separatist section .droid_army .flex .cart_droid .fed_comercio h4 {
            font-weight: 700;
            text-shadow: 0 0 20px #001aff; }
        .separatist section .droid_army .flex .cart_droid .tec_union {
          background-image: url("../img/Techno_Union.svg.webp");
          background-repeat: no-repeat;
          background-position: center top;
          background-attachment: scroll;
          background-size: cover; }
          .separatist section .droid_army .flex .cart_droid .tec_union p {
            color: #000000;
            font-weight: 700;
            text-shadow: 0 0 20px white; }
          .separatist section .droid_army .flex .cart_droid .tec_union h4 {
            font-weight: 700;
            text-shadow: 0 0 20px red; }

@media screen and (max-width: 768px) {
  .separatist section .droid_army .flex {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: baseline;
    justify-content: space-between; }
    .separatist section .droid_army .flex .cart_droid {
      margin: 5%;
      text-align: center;
      width: 100%; }
      .separatist section .droid_army .flex .cart_droid img {
        height: 40%;
        width: 60%; } }

.empire {
  background-image: url("../img/purge_trooper.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%; }
  .empire main {
    color: #ffffff; }
    .empire main .purge_jedi {
      background-image: url("https://i.pinimg.com/564x/b6/5c/f6/b65cf603ae77e0ceb1552190daa2b833.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      height: 100%;
      background-size: cover;
      padding: 5%; }
      .empire main .purge_jedi .orden_66 {
        background-image: url("https://i.pinimg.com/originals/71/19/b5/7119b52ddccf33cf3e205a64baa65ef0.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        height: 100%;
        background-size: cover;
        padding: 5%; }
    .empire main .empire_polity {
      background-image: url("../img/empire_graffiti.png");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      height: 100%;
      background-size: cover;
      padding: 5%; }
      .empire main .empire_polity .civil_war {
        background-image: url("https://e1.pxfuel.com/desktop-wallpaper/502/776/desktop-wallpaper-star-wars-rebel-logo-rebel-alliance-vs-galactic-empire-thumbnail.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        height: 100%;
        background-size: cover;
        padding: 5%; }
    .empire main .jakku_battle {
      background-image: url("https://media.moddb.com/images/mods/1/32/31659/AT-AT.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      height: 100%;
      background-size: cover;
      padding: 5%;
      color: white;
      font-weight: 500;
      text-shadow: 0 0 15px #a10303; }
  .empire section {
    background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; }
    .empire section h2 {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%; }
    .empire section h3 {
      margin-top: 3%;
      margin-bottom: 3%; }
    .empire section p {
      margin-top: 5%;
      margin-bottom: 5%; }
    .empire section img {
      height: 450px; }
  .empire .padding_create_f_botton {
    padding-left: 5%;
    padding-right: 5%; }

@media screen and (max-width: 768px) {
  .empire section img {
    height: 250px; } }

@media screen and (max-width: 600px) {
  .empire section img {
    height: 150px; } }

.rebels {
  background-image: url("https://i.pinimg.com/736x/3f/77/41/3f77414591b10bf0a01dea7694c6f9e5.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }
  .rebels main {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%; }
    .rebels main .onderon {
      background-image: url("../img/rebels_onderon_.webp");
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: scroll;
      height: 100%;
      background-size: cover;
      padding: 5%; }
    .rebels main .union {
      background-image: url("https://i.pinimg.com/564x/05/47/96/054796946f2c81ee1063a011171d1368.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      height: 100%;
      background-size: cover;
      padding: 5%; }
  .rebels section {
    background-image: url("https://w0.peakpx.com/wallpaper/310/288/HD-wallpaper-x-wing-blue-squadron-rebel-star-fighter-star-wars.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%; }
    .rebels section h3 {
      color: #000000;
      text-shadow: 0 0 10px red;
      font-weight: 650; }
    .rebels section h4 {
      color: #ffffff;
      font-weight: 500; }
    .rebels section p {
      color: #ffffff;
      font-weight: 450; }
    .rebels section img {
      height: 40%;
      width: 40%;
      margin-bottom: 5%; }
    .rebels section .cart_battle {
      padding: 6%;
      height: 40%; }

.force_balance {
  background-image: url("https://i.pinimg.com/originals/51/f9/9e/51f99e09f7794d3b0db87a2fc8cf1d57.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }
  .force_balance header h2 {
    text-shadow: 0 0 25px #ff0000; }
  .force_balance main {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%; }
    .force_balance main div {
      padding-top: 5%;
      padding-bottom: 5%; }
    .force_balance main .light_dark {
      background-repeat: no-repeat;
      background-image: url("https://www.logolynx.com/images/logolynx/79/793d84a20bb9b05b7274458fc64d581e.jpeg");
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center; }
      .force_balance main .light_dark div {
        margin: 2%;
        width: 40%;
        height: auto; }
      .force_balance main .light_dark .light {
        text-shadow: 0 0 30px #0066ff; }
      .force_balance main .light_dark .dark {
        text-shadow: 0 0 30px #ff0000; }
    .force_balance main .war_jedi {
      background-repeat: no-repeat;
      background-image: url("http://vignette2.wikia.nocookie.net/starwars/images/b/b9/Great_War_Jedi_vs_Sith.jpg/revision/latest?cb=20100219215520");
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%; }
    .force_balance main .war_mandalorian {
      background-repeat: no-repeat;
      background-image: url("../img/war_mandalore.webp");
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%; }
    .force_balance main h2 {
      text-shadow: 0 0 20px #ffffff; }
    .force_balance main p {
      font-style: italic; }
  .force_balance section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
    .force_balance section div {
      border-radius: 20px;
      padding: 1%;
      height: auto; }
    .force_balance section .jedi {
      background-repeat: no-repeat;
      background-image: url("https://p4.wallpaperbetter.com/wallpaper/876/503/584/luke-skywalker-the-mandalorian-star-wars-galaxies-star-wars-jedi-hd-wallpaper-preview.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 30%; }
      .force_balance section .jedi div {
        text-shadow: 0 0 20px #00e20b;
        box-shadow: 0 0 20px #00e20b;
        padding: 3%; }
    .force_balance section .sith {
      background-repeat: no-repeat;
      background-image: url("https://i.pinimg.com/originals/77/70/51/7770513ffe906b604b3695dc68255e90.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 30%; }
      .force_balance section .sith div {
        padding: 3%;
        text-shadow: 0 0 20px #ff0000;
        box-shadow: 0 0 20px #ff0000; }
    .force_balance section .jedi_grey {
      background-repeat: no-repeat;
      background-image: url("http://pm1.narvii.com/7090/91c32627d53643442ae95f22b968865a0e836f72r1-600-849v2_00.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 30%; }
      .force_balance section .jedi_grey div {
        text-shadow: 0 0 20px #915e00;
        box-shadow: 0 0 25px #915e00;
        padding: 3%; }

@media screen and (max-width: 768px) {
  .force_balance section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%; }
    .force_balance section div {
      border-radius: 20px;
      padding: 2%;
      height: auto; }
    .force_balance section .jedi {
      background-repeat: no-repeat;
      background-image: url("../img/jedi_republic.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 45%; }
      .force_balance section .jedi div {
        padding: 3%;
        text-shadow: 0 0 20px #0059ff;
        box-shadow: 0 0 30px #0059ff; }
    .force_balance section .sith {
      background-repeat: no-repeat;
      background-image: url("https://wallpaperaccess.com/full/2719303.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 45%;
      color: #7c7c7c; }
      .force_balance section .sith div {
        text-shadow: 0 0 10px #830000;
        box-shadow: 0 0 30px #ff0000;
        padding: 3%; }
    .force_balance section .jedi_grey {
      background-repeat: no-repeat;
      background-image: url("https://i.pinimg.com/736x/f5/10/0b/f5100bb50d58f118c5b54858c66755e1--star-wars-jedi-star-wars-art.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .jedi_grey div {
        text-shadow: 0 0 20px #d1c303;
        box-shadow: 0 0 30px #d1c303;
        padding: 3%; } }

@media screen and (max-width: 600px) {
  .force_balance section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: stretch;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%; }
    .force_balance section div {
      border-radius: 20px;
      padding: 5%;
      height: auto; }
    .force_balance section .jedi {
      background-repeat: no-repeat;
      background-image: url("https://cdn.wallpapersafari.com/68/31/ZnylIh.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%;
      color: #ffffff; }
      .force_balance section .jedi div {
        text-shadow: 0 0 15px #003b63;
        box-shadow: 0 0 30px #54b7f8;
        padding: 3%; }
    .force_balance section .sith {
      background-repeat: no-repeat;
      background-image: url("https://pm1.narvii.com/6906/9ee3c63e40a56acd09967908ac1474c466e22d29r1-1280-800v2_hq.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .sith div {
        text-shadow: 0 0 20px #000000;
        box-shadow: 0 0 30px #000000;
        padding: 3%; }
    .force_balance section .jedi_grey {
      background-repeat: no-repeat;
      background-image: url("https://i.pinimg.com/originals/f0/15/97/f01597a146d6c5a1577cc74449551bd1.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .jedi_grey div {
        text-shadow: 0 0 20px #d47f00;
        box-shadow: 0 0 30px #d47f00;
        padding: 3%;
        color: #919191; } }

header {
  font-family: 'Orbitron', sans-serif; }
  header a {
    font-size: 24px; }
  header h2 {
    margin: 5%; }

section h2 {
  margin: 5%; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px;
  font-family: 'Merriweather', serif;
  font-weight: 600; }

h3 {
  font-size: 24px;
  font-family: 'DM Serif Display', serif; }

h4 {
  font-size: 22px;
  font-family: 'Orbitron', sans-serif; }

h5 {
  font-size: 20px;
  font-family: 'Merriweather', serif; }

p {
  font-size: 18px;
  font-family: 'DM Serif Display', serif; }

nav {
  background-image: url("https://i.pinimg.com/originals/94/bc/07/94bc076520233b2021e4bf5e4fbe8bef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  display: block;
  font-family: 'Orbitron', sans-serif; }
  nav ul li {
    font-size: 24px;
    justify-self: stretch;
    text-align: center;
    margin-right: 7%;
    margin-left: 7%;
    padding: 2%;
    border-radius: 20px;
    display: block; }
    nav ul li a {
      padding: 5%;
      color: white; }
    nav ul li a:hover {
      color: white; }

.credit:hover {
  background-repeat: no-repeat;
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-31118da96b7ad0f4c7ce7ff2b6090641-pjlq");
  background-position: center;
  background-size: cover;
  text-align: center; }

.rep:hover {
  background-repeat: no-repeat;
  background-image: url("http://pm1.narvii.com/6285/0abadec238bd7f41a9348356f40bb891411416b7_00.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.csi:hover {
  background-repeat: no-repeat;
  background-image: url("https://pm1.narvii.com/6439/4b30c61839e4d26bf630955bcc4e0d6b2d625fd6_hq.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.imp:hover {
  background-repeat: no-repeat;
  background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.reb:hover {
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp2149431.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.force:hover {
  background-repeat: no-repeat;
  background-image: url("https://www.logolynx.com/images/logolynx/79/793d84a20bb9b05b7274458fc64d581e.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.contact_user:hover {
  background-repeat: no-repeat;
  background-image: url("../img/trooper_company.webp");
  background-position: center top;
  background-size: cover;
  text-align: center; }

.flex {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 2%;
  padding-right: 2%; }

.padding_create {
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%; }

.pad_div {
  padding-bottom: 1%;
  padding-top: 1%; }

.margin_div {
  margin-bottom: 4%;
  margin-top: 4%; }

.margin_create {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%; }

.margin_space {
  margin-right: 7%;
  margin-left: 7%;
  padding: 2%; }

.contact {
  background-image: url("../img/welcome_commander.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center; }
  .contact header a {
    font-size: 24px; }
  .contact section {
    display: flex;
    justify-content: center; }
    .contact section form {
      background-color: rgba(0, 12, 80, 0.39);
      border: 10px double #ffffff;
      box-shadow: 0 0 30px #ffffff;
      padding: 7%;
      margin: 5%;
      text-align: center;
      font-size: 18px;
      width: 75%;
      height: auto;
      border-radius: 10px;
      align-items: flex-end; }
      .contact section form .back_text {
        background-color: black; }
      .contact section form select {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 5%;
        margin-bottom: 5%; }
