.principal {
  background-image: url("https://sm.ign.com/t/ign_latam/screenshot/default/vader1_ty7m.1280.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-right: 2%;
  padding-left: 2%;
  color: black;
  text-align: center;
  display: grid;
  align-content: stretch;
  justify-items: stretch;
  justify-content: stretch;
  grid-template-areas: "header header" "nav main" "nav section";
  grid-template-columns: 35% 65%;
  gap: 2%; }
  .principal header {
    grid-area: header;
    padding: 5%; }
  .principal nav {
    grid-area: nav;
    background-image: url("https://i.pinimg.com/originals/94/bc/07/94bc076520233b2021e4bf5e4fbe8bef.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Orbitron', sans-serif; }
    .principal nav ul li {
      font-family: 'Orbitron', sans-serif;
      font-size: 24px;
      justify-self: stretch;
      margin-right: 3%;
      margin-left: 3%;
      margin-top: 5%;
      margin-bottom: 5%;
      padding: 5%;
      text-align: justify; }
      .principal nav ul li a {
        padding: 5%;
        color: white; }
  .principal main {
    grid-area: main; }
    .principal main h2 {
      font-family: 'Bree Serif', serif;
      text-align: center; }
    .principal main div {
      font-style: oblique;
      margin: 5%;
      padding: 5%;
      text-transform: uppercase;
      font-weight: bold; }
    .principal main div:hover {
      background-image: url("https://www.logolynx.com/images/logolynx/46/466b40882cc9a58ff5756e14032101c6.jpeg");
      background-size: cover;
      color: white;
      text-transform: uppercase;
      margin: 5%;
      padding: 5%;
      font-family: 'Shadows Into Light Two', cursive;
      text-transform: uppercase;
      font-weight: bold; }
  .principal section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 18px; }
    .principal section div {
      border: 2px solid #ffffff00;
      margin: 2%;
      width: 40%;
      height: auto;
      border-radius: 10px;
      font-family: 'Bree Serif', serif; }
      .principal section div h3 {
        font-family: 'Kanit', sans-serif;
        text-align: center; }
      .principal section div img {
        height: auto;
        width: 100%; }

@media screen and (max-width: 768px) {
  .principal {
    display: grid;
    align-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "nav main" "nav section";
    gap: 2%; }
    .principal section {
      grid-area: section;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 18px; }
      .principal section div {
        border: 2px solid #ffffff00;
        margin: 2%;
        width: 80%;
        height: auto;
        border-radius: 10px;
        font-family: 'Bree Serif', serif; } }

@media screen and (max-width: 600px) {
  .principal {
    display: grid;
    align-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: " header" "nav" " main" " section";
    gap: 2%; }
    .principal nav {
      grid-area: nav;
      background-image: url("https://i.pinimg.com/originals/94/bc/07/94bc076520233b2021e4bf5e4fbe8bef.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      .principal nav ul li {
        font-family: 'Orbitron', sans-serif;
        font-size: 24px;
        justify-self: stretch;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
        text-align: justify; }
        .principal nav ul li a {
          padding: 5%;
          color: white; } }

.e_commers {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/exegol-1578431600.png?crop=0.832xw:1.00xh;0.0978xw,0&resize=1200:*");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center; }
  .e_commers header {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%; }
    .e_commers header img {
      height: 30%;
      width: 80%; }
    .e_commers header h1 {
      font-size: 26px;
      padding-top: 4%;
      padding-bottom: 4%; }
  .e_commers main {
    padding-top: 2%;
    padding-bottom: 2%; }
    .e_commers main img {
      padding: 2%;
      margin: 2%;
      height: 60%;
      width: 80%; }
  .e_commers section {
    margin-left: 10%;
    margin-right: 10%; }
    .e_commers section a {
      color: white; }
    .e_commers section .cart_ship {
      padding: 6%;
      margin-left: 6%;
      margin-right: 6%;
      text-align: center;
      width: 89%;
      height: 80%;
      /*
            div{
                padding: 6%;
                border: 2px solid #ffffff;
                background: rgb(2,0,36);
                background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(6,23,145,1) 57%, rgba(0,0,0,1) 100%);
                border-radius: 10px;
                img{
                    height: 40%;
                    width: 60%;
                }
            }
            */ }
      .e_commers section .cart_ship img {
        height: 40%;
        width: 60%; }
    .e_commers section .rep:hover {
      height: 100%;
      color: white; }
    .e_commers section .csi:hover {
      height: 100%;
      color: white; }
    .e_commers section .imp:hover {
      height: 100%;
      color: white; }
    .e_commers section .reb:hover {
      height: 100%;
      color: white; }
    .e_commers section .rep:hover {
      background-repeat: no-repeat;
      background-image: url("http://pm1.narvii.com/6285/0abadec238bd7f41a9348356f40bb891411416b7_00.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 100%; }
    .e_commers section .csi:hover {
      background-repeat: no-repeat;
      background-image: url("https://pm1.narvii.com/6439/4b30c61839e4d26bf630955bcc4e0d6b2d625fd6_hq.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 100%; }
    .e_commers section .imp:hover {
      background-repeat: no-repeat;
      background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 100%; }
    .e_commers section .reb:hover {
      background-repeat: no-repeat;
      background-image: url("https://wallpapercave.com/wp/wp2149431.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      height: 100%; }
    .e_commers section .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: wrap;
      padding: 10%;
      align-items: baseline;
      justify-content: space-between; }
      .e_commers section .flex div {
        border: 2px solid #ffffff;
        padding: 2%;
        margin: 2%;
        text-align: center;
        width: 40%;
        height: auto;
        background: #020024;
        background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #061791 57%, black 100%);
        border-radius: 10px; }
        .e_commers section .flex div img {
          height: 40%;
          width: 60%; }

@media screen and (max-width: 768px) {
  .e_commers section .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    padding: 10%;
    align-items: baseline;
    justify-content: space-between; }
    .e_commers section .flex div {
      border: 2px solid #ffffff;
      padding: 2%;
      margin: 2%;
      text-align: center;
      width: 100%;
      height: auto;
      background: #020024;
      background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #061791 57%, black 100%);
      border-radius: 10px; } }

@media screen and (max-width: 600px) {
  .e_commers header img {
    height: 100%;
    width: 100%; }
  .e_commers section .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    padding: 10%;
    align-items: baseline;
    justify-content: space-between; }
    .e_commers section .flex div {
      border: 2px solid #ffffff;
      padding: 2%;
      margin: 2%;
      text-align: center;
      width: 100%;
      height: auto;
      background: white;
      background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, #9a0808 38%, black 87%);
      border-radius: 10px; } }

.republic {
  background-image: url("https://www.starwarsnewsnet.com/wp-content/uploads/2021/11/Star-Wars-The-Old-Republic-Action-Scene.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%; }
  .republic header {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif; }
  .republic main {
    font-family: 'Bree Serif', serif;
    font-size: 20px; }
    .republic main .flex div {
      padding: 2%;
      margin: 2%;
      width: 45%; }
      .republic main .flex div h3 {
        font-size: 26px; }
      .republic main .flex div img {
        height: 60%;
        width: 100%; }
    .republic main p {
      text-align: justify;
      padding-left: 3%;
      padding-right: 3%; }
    .republic main p:hover {
      color: #1e03b6; }
  .republic section {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    padding: 3%; }
    .republic section .kamino {
      background-image: url("https://live.staticflickr.com/5654/30747840391_f65e3987a9_b.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover; }
      .republic section .kamino h2 {
        font-family: 'Anton', sans-serif;
        font-size: 36px; }
    .republic section .geonosis {
      background-image: url("../img/ataque_geonosis.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover; }
    .republic section div {
      background-image: url("https://gcdn.lanetaneta.com/wp-content/uploads/2019/07/Send-In-The-Clones-10-preguntas-sobre-los-soldados-clon-780x405.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed;
      height: 100%;
      background-size: cover;
      padding: 3%; }
      .republic section div h3 {
        font-family: 'Orbitron', sans-serif; }
      .republic section div h4 {
        font-family: 'Orbitron', sans-serif;
        color: black;
        font-weight: bold;
        border: 10px dashed black;
        padding: 2%;
        margin: 8%;
        text-transform: uppercase;
        background: black;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 50%); }
      .republic section div h4:hover {
        transition: all 500ms ease-out;
        color: white;
        font-weight: bold;
        border: 10px dashed white;
        background: black;
        background: linear-gradient(90deg, black 50%, rgba(255, 255, 255, 0) 100%); }
      .republic section div div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: wrap;
        align-items: baseline;
        justify-content: center; }
        .republic section div div .cart {
          border: 2px solid #ffffff;
          border-radius: 10px;
          padding-left: 5%;
          padding-right: 5%;
          margin: 2%;
          text-align: center;
          width: 45%;
          height: auto;
          font-family: 'Bree Serif', serif; }
        .republic section div div .marines_4 {
          background-image: url("https://github.com/Franck-01/Proyect_07/blob/main/srx/public/img/4_ejercito_de_sector.jpg?raw=true");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .marines_4:hover {
          border: 6px dashed #4f006e;
          color: #ff85cc; }
        .republic section div div .batall_212 {
          background-image: url("https://pbs.twimg.com/media/FPGdzSGXoAMN1XF.jpg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .batall_212:hover {
          border: 6px dashed #ffbb00;
          color: #ffbb00; }
        .republic section div div .elite_41 {
          background-image: url("https://pm1.narvii.com/6978/7c22923d4a21ce46cdebe4a7232b68677e364635r1-1920-1080v2_hq.jpg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .elite_41:hover {
          border: 6px dashed #005218;
          color: #038f2d; }
        .republic section div div .movil_91 {
          background-image: url("https://github.com/Franck-01/Proyect_07/blob/main/srx/public/img/91_cuerpo_de_reconocimiento_movil.jpg?raw=true");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .movil_91:hover {
          border: 6px dashed white;
          color: #f34242; }
        .republic section div div .star_327 {
          background-image: url("https://github.com/Franck-01/Proyect_07/blob/main/srx/public/img/star_corps_327.jpeg?raw=true");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .star_327:hover {
          border: 6px dashed #634c03;
          color: #ffa600; }
        .republic section div div .legion_501 {
          background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a0853385-8a52-4b79-89c3-ffe5a26ba950/de6ztm6-d8cf094b-c766-4445-bc95-04a56aac9704.jpg/v1/fill/w_1192,h_670,q_70,strp/star_wars___anakin_skywalker_and_the_501st_by_andibaze_de6ztm6-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYTA4NTMzODUtOGE1Mi00Yjc5LTg5YzMtZmZlNWEyNmJhOTUwXC9kZTZ6dG02LWQ4Y2YwOTRiLWM3NjYtNDQ0NS1iYzk1LTA0YTU2YWFjOTcwNC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1yoWxSrwnL1I0mBbjF__syOJpTwuzEl419rpZeeCmwE");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .legion_501:hover {
          border: 6px dashed #0012b8;
          color: #127bf3; }
        .republic section div div .company_322 {
          background-image: url("https://i.pinimg.com/originals/f8/76/48/f876482ebf67ec287cd0462f52f29b80.jpg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .company_322:hover {
          color: #c06701; }
        .republic section div div .batall_104 {
          background-image: url("https://pm1.narvii.com/6621/f4ac126824d448213976bc049bc9cc0fa5d9c307_hq.jpg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .batall_104:hover {
          border: 6px dashed #3f3f3f;
          color: white; }
        .republic section div div .coruscant {
          background-image: url("https://wallpapercave.com/wp/wp2069345.jpg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .coruscant:hover {
          border: 6px dashed #460000;
          color: red; }
        .republic section div div .bad_99 {
          background-image: url("https://lumiere-a.akamaihd.net/v1/images/610be24859bb270001e56d7c-image_5d11d124.jpeg?region=0%2C0%2C1536%2C864");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .bad_99:hover {
          border: 6px dashed black;
          color: #960505; }
        .republic section div div .delta {
          background-image: url("https://images.squarespace-cdn.com/content/v1/5fbc4a62c2150e62cfcb09aa/ab756c56-8442-4f7c-a304-c7db1eec3c6c/658109-star-wars-republic-commando-sci-fi-strategy-tactical-shooter-action-fighting-1swrc-1.jpg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: center; }
        .republic section div div .delta:hover {
          border: 6px dashed white;
          color: #cf0505;
          font-weight: bolder; }
  .republic .final_war {
    background-image: url("https://i.pinimg.com/originals/8c/1f/1c/8c1f1c008e1a5b71d5292b65bd8eb52c.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Orbitron', sans-serif; }
    .republic .final_war .flex div {
      margin: 1%;
      width: 49%; }
    .republic .final_war .red:hover {
      transition: all 500ms ease-out;
      color: #b80000;
      font-weight: 700; }
    .republic .final_war p {
      font-family: 'Bree Serif', serif;
      font-size: 22px;
      padding-left: 5%;
      padding-right: 5%; }
  .republic .padding_create_min {
    padding: 2%; }

@media screen and (max-width: 768px) {
  .republic main .flex {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%; }
    .republic main .flex div {
      padding: 2%;
      margin: 2%;
      text-align: center;
      width: 100%;
      height: auto; }
      .republic main .flex div img {
        height: 60%;
        width: 100%; }
    .republic main .flex p {
      text-align: justify;
      padding-left: 3%;
      padding-right: 3%; }
    .republic main .flex p:hover {
      color: #1e03b6; }
  .republic section .cart {
    border: 2px solid #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2%;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10px;
    font-family: 'Bree Serif', serif; }
  .republic .final_war .flex {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5%;
    padding-right: 5%; }
    .republic .final_war .flex div {
      margin: 1%;
      text-align: center;
      width: 90%; } }

@media screen and (max-width: 600px) {
  .republic main .flex {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%; }
    .republic main .flex div {
      padding: 2%;
      margin: 2%;
      text-align: center;
      width: 100%;
      height: auto; }
      .republic main .flex div img {
        height: 60%;
        width: 100%; }
    .republic main .flex p {
      text-align: justify;
      padding-left: 3%;
      padding-right: 3%; }
    .republic main .flex p:hover {
      color: #1e03b6; }
  .republic section div div .cart {
    border: 2px solid #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2%;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10px;
    font-family: 'Bree Serif', serif; }
  .republic .final_war .flex {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5%;
    padding-right: 5%; }
    .republic .final_war .flex div {
      margin: 1%;
      text-align: center;
      width: 90%; } }

.separatist {
  background-image: url("https://frikipolis.com/wp-content/uploads/2022/04/65600769f031b9c1bb3cb0f5622f0b75c914a3c2r1-1024-655v2_hq.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px; }
  .separatist header {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif; }
  .separatist main {
    font-size: 20px;
    font-family: 'Alkalami', serif; }
    .separatist main h3 {
      font-size: 26px; }
    .separatist main img {
      height: 80%;
      width: 100%; }
    .separatist main p:hover {
      color: #0038ee;
      font-style: italic; }
  .separatist section img {
    height: 40%;
    width: 60%; }
  .separatist section p {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace; }
  .separatist section .factory {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/screen_shot_2015-05-13_at_4_46a06f3e.jpeg?region=96%2C0%2C2067%2C1035");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 100%;
    background-size: cover;
    padding: 3%;
    font-family: 'Orbitron', sans-serif; }
    .separatist section .factory p:hover {
      color: #008800;
      font-style: oblique; }
  .separatist section .clone_wars {
    background-image: url("https://allgamersin.com/wp-content/uploads/2019/03/Star-Wars-Battlefront2-modo-Supremacia-Capital_1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 100%;
    background-size: cover;
    padding: 3%;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px; }
    .separatist section .clone_wars i {
      font-size: 18px; }
    .separatist section .clone_wars i:hover {
      color: #000000;
      font-weight: 800; }
  .separatist section .droid_army {
    background-image: url("../img/droide_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    padding: 3%; }
    .separatist section .droid_army .flex {
      display: flex;
      flex-direction: row;
      padding-left: 2%;
      padding-right: 2%;
      align-items: baseline;
      justify-content: space-between;
      font-family: 'Playfair Display', serif;
      font-size: 22px; }
      .separatist section .droid_army .flex .black {
        background-color: black;
        background-size: cover; }
        .separatist section .droid_army .flex .black h3 {
          padding: 3%; }
      .separatist section .droid_army .flex .cart_droid {
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
        width: 45%;
        height: auto;
        border: 4px solid #ffffff;
        border-radius: 10px; }
        .separatist section .droid_army .flex .cart_droid .fed_comercio {
          background-image: url("https://gcdn.lanetaneta.com/wp-content/uploads/2022/01/Star-Wars-Eclipse-%C2%BFLa-Federacion-de-Comercio-rompe-la-linea.5.jpeg");
          background-repeat: no-repeat;
          background-position: center top;
          background-attachment: scroll;
          background-size: cover; }
          .separatist section .droid_army .flex .cart_droid .fed_comercio p:hover {
            color: black;
            font-weight: bolder; }
        .separatist section .droid_army .flex .cart_droid .tec_union {
          background-image: url("../img/Techno_Union.svg.webp");
          background-repeat: no-repeat;
          background-position: center top;
          background-attachment: scroll;
          background-size: cover; }
          .separatist section .droid_army .flex .cart_droid .tec_union p:hover {
            color: black;
            font-weight: bolder; }
    .separatist section .droid_army h3 {
      font-family: 'Kanit', sans-serif;
      font-size: 28px; }

@media screen and (max-width: 768px) {
  .separatist section .droid_army .flex {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: baseline;
    justify-content: space-between; }
    .separatist section .droid_army .flex .cart_droid {
      margin: 5%;
      text-align: center;
      width: 100%; }
      .separatist section .droid_army .flex .cart_droid img {
        height: 40%;
        width: 60%; } }

.empire {
  background-image: url("../img/purge_trooper.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%; }
  .empire header h2 {
    font-family: 'Merriweather', serif; }
  .empire main h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; }
  .empire main h3 {
    font-family: 'Ubuntu', sans-serif; }
  .empire main p {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px; }
  .empire main .purge_jedi {
    background-image: url("https://i.pinimg.com/564x/77/cf/82/77cf82611f95c1eb42503520cd445f76--star-wars-artwork-starwars-lego.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%;
    color: #a30404;
    font-weight: 600; }
    .empire main .purge_jedi a {
      color: #0084ff; }
    .empire main .purge_jedi .orden_66 {
      background-image: url("https://i.pinimg.com/originals/26/ad/4b/26ad4b68f78d21ed946ac64af8e3fad5.gif");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      height: 100%;
      background-size: cover;
      padding: 5%; }
  .empire main .empire_polity {
    background-image: url("../img/empire_graffiti.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%; }
  .empire main .civil_war {
    background-image: url("../img/civil_war.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%;
    color: black; }
  .empire main .jakku_battle {
    background-image: url("https://c.wallhere.com/photos/b7/88/Star_Wars_Jakku_science_fiction_battle_artwork-1940991.jpg!d");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%; }
  .empire section {
    background-image: url("https://uvn-brightspot.s3.amazonaws.com/assets/vixes/d/death_troopers_star_wars.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    background-size: cover;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: 'Merriweather', serif; }
    .empire section h2 {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%; }
    .empire section img {
      height: 40%;
      width: 40%;
      margin-bottom: 5%; }
    .empire section h3 {
      font-family: 'Orbitron', sans-serif;
      font-size: 28px;
      margin-top: 3%;
      margin-bottom: 3%; }
    .empire section p {
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
      margin-top: 5%;
      margin-bottom: 5%; }
    .empire section .cart_trooper {
      padding: 6%;
      height: 40%; }
  .empire .margin_create {
    margin: 5%; }
  .empire .padding_create_f_botton {
    padding-left: 5%;
    padding-right: 5%; }

.rebels {
  background-image: url("https://i.pinimg.com/originals/12/d9/33/12d9335e7342dc52300b6a0cc0748544.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }
  .rebels main {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%; }
    .rebels main .onderon {
      background-image: url("../img/rebels_onderon.webp");
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: scroll;
      height: 100%;
      background-size: cover;
      padding: 5%;
      font-family: 'Orbitron', sans-serif; }
    .rebels main .union {
      background-image: url("../img/rebels_union.webp");
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: scroll;
      height: 100%;
      background-size: cover;
      padding: 5%;
      font-family: 'Orbitron', sans-serif; }
  .rebels section {
    background-image: url("http://pm1.narvii.com/6866/b298dc36b9d67367c8bcac1cf0b708232a45f952r1-600-840v2_hq.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 100%;
    background-size: cover;
    padding: 5%; }
    .rebels section img {
      height: 40%;
      width: 40%;
      margin-bottom: 5%; }
    .rebels section .cart_battle {
      padding: 6%;
      height: 40%; }

.force_balance {
  background-image: url("https://i.pinimg.com/originals/51/f9/9e/51f99e09f7794d3b0db87a2fc8cf1d57.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }
  .force_balance main {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%; }
    .force_balance main div {
      padding-top: 5%;
      padding-bottom: 5%; }
    .force_balance main .light_dark {
      background-repeat: no-repeat;
      background-image: url("https://www.logolynx.com/images/logolynx/79/793d84a20bb9b05b7274458fc64d581e.jpeg");
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      text-align: center; }
      .force_balance main .light_dark div {
        margin: 2%;
        width: 40%;
        height: auto; }
    .force_balance main .war_jedi {
      background-repeat: no-repeat;
      background-image: url("http://vignette2.wikia.nocookie.net/starwars/images/b/b9/Great_War_Jedi_vs_Sith.jpg/revision/latest?cb=20100219215520");
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%; }
    .force_balance main .war_mandalorian {
      background-repeat: no-repeat;
      background-image: url("../img/war_mandalor.webp");
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
      color: black; }
  .force_balance section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
    .force_balance section div {
      border-radius: 20px;
      padding: 1%;
      height: auto; }
    .force_balance section .jedi {
      background-repeat: no-repeat;
      background-image: url("https://p4.wallpaperbetter.com/wallpaper/876/503/584/luke-skywalker-the-mandalorian-star-wars-galaxies-star-wars-jedi-hd-wallpaper-preview.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 30%; }
      .force_balance section .jedi div {
        border: 2px solid #00e20b;
        padding: 3%; }
    .force_balance section .sith {
      background-repeat: no-repeat;
      background-image: url("https://i.pinimg.com/originals/77/70/51/7770513ffe906b604b3695dc68255e90.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 30%; }
      .force_balance section .sith div {
        border: 2px solid #ff0000;
        padding: 3%; }
    .force_balance section .jedi_grey {
      background-repeat: no-repeat;
      background-image: url("http://pm1.narvii.com/7090/91c32627d53643442ae95f22b968865a0e836f72r1-600-849v2_00.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 30%; }
      .force_balance section .jedi_grey div {
        border: 2px solid #61666e;
        padding: 3%; }

@media screen and (max-width: 768px) {
  .force_balance section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: stretch;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%; }
    .force_balance section div {
      border-radius: 20px;
      padding: 2%;
      height: auto; }
    .force_balance section .jedi {
      background-repeat: no-repeat;
      background-image: url("../img/jedi_republic.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 45%; }
      .force_balance section .jedi div {
        border: 3px solid #0059ff;
        padding: 3%; }
    .force_balance section .sith {
      background-repeat: no-repeat;
      background-image: url("https://wallpaperaccess.com/full/2719303.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 45%; }
      .force_balance section .sith div {
        border: 3px solid #ff0000;
        padding: 3%; }
    .force_balance section .jedi_grey {
      background-repeat: no-repeat;
      background-image: url("https://i.pinimg.com/736x/f5/10/0b/f5100bb50d58f118c5b54858c66755e1--star-wars-jedi-star-wars-art.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .jedi_grey div {
        border: 3px solid #d1c303;
        padding: 3%; } }

@media screen and (max-width: 600px) {
  .force_balance section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-items: stretch;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%; }
    .force_balance section div {
      border-radius: 20px;
      padding: 5%;
      height: auto; }
    .force_balance section .jedi {
      background-repeat: no-repeat;
      background-image: url("https://cdn.wallpapersafari.com/68/31/ZnylIh.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .jedi div {
        border: 5px solid #54b7f8;
        padding: 3%; }
    .force_balance section .sith {
      background-repeat: no-repeat;
      background-image: url("https://pm1.narvii.com/6906/9ee3c63e40a56acd09967908ac1474c466e22d29r1-1280-800v2_hq.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .sith div {
        border: 5px solid #c90101;
        padding: 3%; }
    .force_balance section .jedi_grey {
      background-repeat: no-repeat;
      background-image: url("https://i.pinimg.com/originals/f0/15/97/f01597a146d6c5a1577cc74449551bd1.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      width: 80%; }
      .force_balance section .jedi_grey div {
        border: 5px solid #d47f00;
        padding: 3%;
        color: #919191; } }

.nav_guide {
  font-family: 'Orbitron', sans-serif; }
  .nav_guide nav {
    background-image: url("https://i.pinimg.com/originals/94/bc/07/94bc076520233b2021e4bf5e4fbe8bef.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 7%;
    margin-left: 7%; }
    .nav_guide nav ul li {
      font-size: 24px;
      justify-self: stretch;
      margin-right: 7%;
      margin-left: 7%;
      padding: 2%;
      text-align: justify; }
      .nav_guide nav ul li a {
        padding: 5%;
        color: white; }

.credit:hover {
  background-repeat: no-repeat;
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-31118da96b7ad0f4c7ce7ff2b6090641-pjlq");
  background-position: center;
  background-size: cover;
  text-align: center; }

.rep:hover {
  background-repeat: no-repeat;
  background-image: url("http://pm1.narvii.com/6285/0abadec238bd7f41a9348356f40bb891411416b7_00.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.csi:hover {
  background-repeat: no-repeat;
  background-image: url("https://pm1.narvii.com/6439/4b30c61839e4d26bf630955bcc4e0d6b2d625fd6_hq.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.imp:hover {
  background-repeat: no-repeat;
  background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.reb:hover {
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp2149431.jpg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.force:hover {
  background-repeat: no-repeat;
  background-image: url("https://www.logolynx.com/images/logolynx/79/793d84a20bb9b05b7274458fc64d581e.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center; }

.flex {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 2%;
  padding-right: 2%; }

.transition {
  transform: scale(1); }

.transition:hover {
  transform: scale(1.2);
  transition: all 500ms ease-out; }

.padding_create {
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%; }

.pad_div {
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: 26px; }

.margin_div {
  margin-bottom: 4%;
  margin-top: 4%; }

.margin_create {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%; }
