header{
    font-family: 'Orbitron', sans-serif;
    a{
        font-size: 24px;
    }
    h2{
        margin: 5%;
    }  
}
section{
    h2{
        margin: 5%;
    }
}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}
h3{
    font-size: 24px;
    font-family: 'DM Serif Display', serif;
}
h4{
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
}
h5{
    font-size: 20px;
    font-family: 'Merriweather', serif;
}
p{
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
    
}
nav{
    background-image: url("https://i.pinimg.com/originals/94/bc/07/94bc076520233b2021e4bf5e4fbe8bef.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    display: block;

    font-family: 'Orbitron', sans-serif;
    ul li{
        font-size: 24px;
        justify-self: stretch;
        text-align: center;
        margin-right: 7%;
        margin-left: 7%;
        padding: 2%;
        border-radius: 20px;
        display: block;
        a{
            padding: 5%;
            color: white;
        }
        a:hover{
            color: white;
        }
    }
}

.credit:hover{
    background-repeat: no-repeat;
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-31118da96b7ad0f4c7ce7ff2b6090641-pjlq");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.rep:hover{
    background-repeat: no-repeat;
    background-image: url("http://pm1.narvii.com/6285/0abadec238bd7f41a9348356f40bb891411416b7_00.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.csi:hover{
    background-repeat: no-repeat;
    background-image: url("https://pm1.narvii.com/6439/4b30c61839e4d26bf630955bcc4e0d6b2d625fd6_hq.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.imp:hover{
    background-repeat: no-repeat;
    background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.reb:hover{
    background-repeat: no-repeat;
    background-image: url("https://wallpapercave.com/wp/wp2149431.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.force:hover{
    background-repeat: no-repeat;
    background-image: url("https://www.logolynx.com/images/logolynx/79/793d84a20bb9b05b7274458fc64d581e.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.contact_user:hover{
    background-repeat: no-repeat;
    background-image: url("../img/trooper_company.webp");
    background-position: center top;
    background-size: cover;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 2%;
    padding-right: 2%;
}

.padding_create{
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.pad_div{
    padding-bottom: 1%;
    padding-top: 1%;
}
.margin_div{
    margin-bottom: 4%;
    margin-top: 4%;
}
.margin_create{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.margin_space{
    margin-right: 7%;
    margin-left: 7%;
    padding: 2%;
}
.contact{
    background-image: url("../img/welcome_commander.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    header{
        a{
            font-size: 24px;
        }
    }
    section{
        display: flex;
        justify-content: center;
        form{
            background-color: rgba(0, 12, 80, 0.39);
            border: 10px double #ffffff;
            box-shadow: 0 0 30px #ffffff;
            padding: 7%;
            margin: 5%;
            text-align: center;
            font-size: 18px;
            width: 75%;
            height: auto;
            border-radius: 10px;
            align-items: flex-end;
            .back_text{
                background-color: black;
            }
            select{
                padding-top: 3%;
                padding-bottom: 3%;
                padding-left: 1%;
                padding-right: 1%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
    }
}
.target{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    background-color: #101010;
    border-radius: 10%;
    padding: 1%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 300px;
}
.target::before{
    content: "";
    position: absolute;
    animation: rotar 2s linear infinite;
    height: 550px;
    width: 450px;
}
.target::after{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    content: "";
    height: 440px;
    width: 290px;
    position: absolute;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}