.empire{
    background-image: url("../img/purge_trooper.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    main{
        color: #ffffff;
        .purge_jedi{
            background-image: url("https://i.pinimg.com/564x/b6/5c/f6/b65cf603ae77e0ceb1552190daa2b833.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover;
            padding: 5%;
            .orden_66{
                background-image: url("https://i.pinimg.com/originals/71/19/b5/7119b52ddccf33cf3e205a64baa65ef0.jpg");
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center;
                height: 100%;
                background-size: cover;
                padding: 5%;
            }
        }
        .empire_polity{
            background-image: url("../img/empire_graffiti.png");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover;
            padding: 5%;
            .civil_war{
                background-image: url("https://e1.pxfuel.com/desktop-wallpaper/502/776/desktop-wallpaper-star-wars-rebel-logo-rebel-alliance-vs-galactic-empire-thumbnail.jpg");
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center;
                height: 100%;
                background-size: cover;
                padding: 5%;
            }
        }
        .jakku_battle{
            background-image: url("https://media.moddb.com/images/mods/1/32/31659/AT-AT.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover;
            padding: 5%;
            color: rgb(255, 255, 255);
            font-weight: 500;
            text-shadow: 0 0 15px rgb(161, 3, 3);
        }
    }
    section{
        background-image: url("http://pm1.narvii.com/6234/ea8781f4d3eb3cd255ff518b8ebb9fb815624f94_00.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        background-size: cover;
        padding: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        h2{
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
        }
        h3{
            margin-top: 3%;
            margin-bottom: 3%;
        }
        p{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        img{
            height: 450px;
        }
    }
    .padding_create_f_botton{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 768px){
    .empire{
        section{
            img{
                height: 250px;
            }
        }
    }
}
@media screen and (max-width: 600px){
    .empire{
        section{
            img{
                height: 150px;
            }
        }
    }
}