.force_balance{
    background-image: url("https://i.pinimg.com/originals/51/f9/9e/51f99e09f7794d3b0db87a2fc8cf1d57.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    header{
        h2{
            text-shadow: 0 0 25px #ff0000;
        }
    }
    main{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        div{
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .light_dark{
            background-repeat: no-repeat;
            background-image: url("https://raw.githubusercontent.com/Franck-01/SW_E-Commers_Franco-A/main/img/dark_light.jpeg");
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            div{
                margin: 2%;
                width: 40%;
                height: auto;
            }
            .light{
                text-shadow: 0 0 30px #0066ff;
            }
            .dark{
                text-shadow: 0 0 30px #ff0000;
            }
        }
        .war_jedi{
            background-repeat: no-repeat;
            background-image: url("http://vignette2.wikia.nocookie.net/starwars/images/b/b9/Great_War_Jedi_vs_Sith.jpg/revision/latest?cb=20100219215520");
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }
        .war_mandalorian{
            background-repeat: no-repeat;
            background-image: url("../img/war_mandalore.webp");
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }
        h2{
            text-shadow: 0 0 20px #ffffff;
        }
        p{
            font-style: italic;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        h2{
            color: white;
            z-index: 2;
            background-color: transparent;
            text-align: center;
        }
        h3{
            color: white;
            z-index: 2;
            background-color: transparent;
            text-align: center;
        }
        .jedi{
            .target{
                box-shadow: 0px 0px 20px #00e20b;
            }
            .target::before{
                background-image: conic-gradient(#abffaf 20deg, transparent 120deg);
            }
            .target::after{
                background-image: url("https://p4.wallpaperbetter.com/wallpaper/876/503/584/luke-skywalker-the-mandalorian-star-wars-galaxies-star-wars-jedi-hd-wallpaper-preview.jpg");
            }
            .text{
                text-shadow: 0 0 20px #00e20b;
            }
        }
        .sith{
            .target{
                box-shadow: 0px 0px 20px #ff0000;
            }
            .target::before{
                background-image: conic-gradient(#ff4a4a 20deg, transparent 120deg);
            }
            .target::after{
                background-image: url("https://i.pinimg.com/originals/77/70/51/7770513ffe906b604b3695dc68255e90.jpg");
            }
            .text{
                text-shadow: 0 0 20px #ff0000;
            }
        }
        .jedi_grey{
            .target{
                box-shadow: 0px 0px 20px #915e00;
            }
            .target::before{
                background-image: conic-gradient(#8f723d 20deg, transparent 120deg);
            }
            .target::after{
                background-image: url("http://pm1.narvii.com/7090/91c32627d53643442ae95f22b968865a0e836f72r1-600-849v2_00.jpg");
            }
            .text{
                text-shadow: 0 0 20px #915e00;
            }
        }
    }
}