.force_balance{
    background-image: url("https://i.pinimg.com/originals/51/f9/9e/51f99e09f7794d3b0db87a2fc8cf1d57.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    header{
        h2{
            font-family: 'Josefin Sans', sans-serif;
            color: #ffffff;
            text-shadow: 0 0 25px #ff0000;
        }
    }
    main{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        div{
            padding-top: 5%;
            padding-bottom: 5%;
        }
        .light_dark{
            background-repeat: no-repeat;
            background-image: url("https://www.logolynx.com/images/logolynx/79/793d84a20bb9b05b7274458fc64d581e.jpeg");
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            div{
                margin: 2%;
                width: 40%;
                height: auto;
            }
            .light{
                text-shadow: 0 0 30px #0066ff;
            }
            .dark{
                text-shadow: 0 0 30px #ff0000;
            }
        }
        .war_jedi{
            background-repeat: no-repeat;
            background-image: url("http://vignette2.wikia.nocookie.net/starwars/images/b/b9/Great_War_Jedi_vs_Sith.jpg/revision/latest?cb=20100219215520");
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            h2{
                font-family: 'Secular One', sans-serif;
                text-shadow: 0 0 20px #ffffff;
            }
            p{
                font-style: italic;
                font-family: 'Bree Serif', serif;
                font-size: 18px;
            }
        }
        .war_mandalorian{
            background-repeat: no-repeat;
            background-image: url("../img/war_mandalore.webp");
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            color: white;
            h2{
                font-family: 'Secular One', sans-serif;
                text-shadow: 0 0 20px #ffffff;
            }
            p{
                font-style: italic;
                font-family: 'Bree Serif', serif;
                font-size: 18px;
            }
        }
    }
    section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        div{
            border-radius: 20px;
            padding: 1%;
            height: auto;
        }
        .jedi{
            background-repeat: no-repeat;
            background-image: url("https://p4.wallpaperbetter.com/wallpaper/876/503/584/luke-skywalker-the-mandalorian-star-wars-galaxies-star-wars-jedi-hd-wallpaper-preview.jpg");
            background-position: center;
            background-size: cover;
            text-align: center;
            width: 30%;
            div{
                text-shadow: 0 0 20px #00e20b;
                box-shadow: 0 0 20px #00e20b;
                padding: 3%;
                font-family: 'Merriweather', serif;
            }
        }
        .sith{
            background-repeat: no-repeat;
            background-image: url("https://i.pinimg.com/originals/77/70/51/7770513ffe906b604b3695dc68255e90.jpg");
            background-position: center;
            background-size: cover;
            text-align: center;
            width: 30%;
            div{
                padding: 3%;
                text-shadow: 0 0 20px #ff0000;
                box-shadow: 0 0 20px #ff0000;
                font-family: 'Ubuntu', sans-serif;
            }
        }
        .jedi_grey{
            background-repeat: no-repeat;
            background-image: url("http://pm1.narvii.com/7090/91c32627d53643442ae95f22b968865a0e836f72r1-600-849v2_00.jpg");
            background-position: center;
            background-size: cover;
            text-align: center;
            width: 30%;
            div{
                text-shadow: 0 0 20px #915e00;
                box-shadow: 0 0 25px #915e00;
                padding: 3%;
                font-family: 'Kanit', sans-serif;
            }
        } 
    }
}
@media screen and (max-width: 768px){
    .force_balance{
        section{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-flow: wrap;
            align-items: stretch;
            justify-content: space-between;
            justify-content: center;
            text-align: center;

            margin-left: 3%;
            margin-right: 3%;
            div{
                border-radius: 20px;
                padding: 2%;
                height: auto;
            }
            .jedi{
                background-repeat: no-repeat;
                background-image: url("../img/jedi_republic.jpg");
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 45%;
                div{
                    padding: 3%;
                    text-shadow: 0 0 20px #0059ff;
                    box-shadow: 0 0 30px #0059ff;
                }
            }
            .sith{
                background-repeat: no-repeat;
                background-image: url("https://wallpaperaccess.com/full/2719303.jpg");
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 45%;
                div{
                    text-shadow: 0 0 20px #ff0000;
                    box-shadow: 0 0 30px #ff0000;
                    padding: 3%;
                }
            }
            .jedi_grey{
                background-repeat: no-repeat;
                background-image: url("https://i.pinimg.com/736x/f5/10/0b/f5100bb50d58f118c5b54858c66755e1--star-wars-jedi-star-wars-art.jpg");
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 80%;
                div{
                    text-shadow: 0 0 20px #d1c303;
                    box-shadow: 0 0 30px #d1c303;
                    padding: 3%;
                }
            }
        }
    }
    
}
@media screen and (max-width: 600px){
    .force_balance{
        section{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-flow: wrap;
            align-items: stretch;
            justify-content: space-between;
            justify-content: center;
            text-align: center;

            margin-left: 3%;
            margin-right: 3%;
            div{
                border-radius: 20px;
                padding: 5%;
                height: auto;
            }
            .jedi{
                background-repeat: no-repeat;
                background-image: url("https://cdn.wallpapersafari.com/68/31/ZnylIh.jpg");
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 80%;
                div{
                    text-shadow: 0 0 20px #54b7f8;
                    box-shadow: 0 0 30px #54b7f8;
                    padding: 3%;
                }
            }
            .sith{
                background-repeat: no-repeat;
                background-image: url("https://pm1.narvii.com/6906/9ee3c63e40a56acd09967908ac1474c466e22d29r1-1280-800v2_hq.jpg");
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 80%;
                div{
                    text-shadow: 0 0 20px #000000;
                    box-shadow: 0 0 30px #000000;
                    padding: 3%;
                }
            }
            .jedi_grey{
                background-repeat: no-repeat;
                background-image: url("https://i.pinimg.com/originals/f0/15/97/f01597a146d6c5a1577cc74449551bd1.jpg");
                background-position: center;
                background-size: cover;
                text-align: center;
                width: 80%;
                div{
                    text-shadow: 0 0 20px #d47f00;
                    box-shadow: 0 0 30px #d47f00;
                    padding: 3%;
                    color: #919191;
                }
            }
        }
    }
}