.rebels{
    background-image: url("https://i.pinimg.com/736x/3f/77/41/3f77414591b10bf0a01dea7694c6f9e5.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    main{
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        .onderon{
            background-image: url("../img/rebels_onderon_.webp");
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: scroll;
            height: 100%;
            background-size: cover;
            padding: 5%;
        }
        .union{
            background-image: url("https://i.pinimg.com/564x/05/47/96/054796946f2c81ee1063a011171d1368.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: scroll;
            height: 100%;
            background-size: cover;
            padding: 5%;
        }
    }
    section{
        background-image: url("https://w0.peakpx.com/wallpaper/310/288/HD-wallpaper-x-wing-blue-squadron-rebel-star-fighter-star-wars.jpg");
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position: center;
        height: 100%;
        background-size: cover;
        padding: 5%;
        h3{
            color: #000000;
            text-shadow: 0 0 10px rgb(255, 0, 0);
            font-weight: 650;
        }
        h4{
            color: #ffffff;
            font-weight: 500;
        }
        p{
            color: #ffffff;
            font-weight: 450;
        }
        img{
            height: 40%;
            width: 40%;
            margin-bottom: 5%;
        }
        .cart_battle{
            padding: 6%;
            height: 40%;
        }
    }
}