.rebels{
    background-image: url("https://i.pinimg.com/originals/12/d9/33/12d9335e7342dc52300b6a0cc0748544.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    main{
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        .onderon{
            background-image: url("../img/rebels_onderon.webp");
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: scroll;
            height: 100%;
            background-size: cover;
            padding: 5%;
            font-family: 'Orbitron', sans-serif;
        }
        .union{
            background-image: url("../img/rebels_union.webp");
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: scroll;
            height: 100%;
            background-size: cover;
            padding: 5%;
            font-family: 'Orbitron', sans-serif;
        }
    }
    section{
        background-image: url("http://pm1.narvii.com/6866/b298dc36b9d67367c8bcac1cf0b708232a45f952r1-600-840v2_hq.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        height: 100%;
        background-size: cover;
        padding: 5%;
        img{
            height: 40%;
            width: 40%;
            margin-bottom: 5%;
        }
        .cart_battle{
            padding: 6%;
            height: 40%;
        }
    }
}