.republic{
    background-image: url("https://64.media.tumblr.com/3082189dc21f71bddde6916fac52b57d/d8758a3ec87488c1-b7/s1280x1920/5f447b56277982604bcfdc3d9d71cb9a1238b322.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    color:white;
    text-align: center;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    header{
        h2{
            text-shadow: 0 0 25px rgb(141, 0, 0);
        }
    }
    main{
        p{
            color: rgb(255, 255, 255);
            text-shadow: 0 0 20px rgb(2, 53, 219);
            font-weight: 600;
        }
        .republic_history{
            background-image: url("../img/republic_logo.png");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover;
            padding: 5%;
        }
        .kamino{
            background-image: url("https://live.staticflickr.com/5654/30747840391_f65e3987a9_b.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover;
            padding: 5%;
        }
        .geonosis{
            background-image: url("https://pbs.twimg.com/media/DzfSp0xWoAYu0e_.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover;
            padding: 5%;
        }
        button{
            padding: 1.1%;
        }
    }
    section{
        .clones{
            background-image: url("https://i.pinimg.com/564x/4d/ff/95/4dff95c6a774e7ba5312f8e2494a8f14.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            height: 100%;
            background-size: cover; 
            padding: 3%;
            margin-top: 5%;
            img{
                height: 450px;
                width: auto;
            }
            h2{
                text-shadow: 0 0 25px rgb(141, 0, 0);
            }
            .marines_4{
                img{
                    border: 6px double rgb(79, 0, 110);
                    box-shadow: 0 0 25px rgb(79, 0, 110);
                }
                text-shadow: 0 0 20px rgb(255, 133, 204);
                color: rgb(255, 133, 204);
            }
            .batall_212{
                img{
                    border: 6px double rgb(255, 187, 0);
                    box-shadow: 0 0 25px rgb(255, 187, 0);
                }
                text-shadow: 0 0 20px rgb(255, 187, 0);
                color: rgb(255, 187, 0);
            }
            .elite_41{
                img{
                    border: 6px double rgb(0, 82, 24);
                    box-shadow: 0 0 25px rgb(0, 82, 24);
                }
                text-shadow: 0 0 20px rgb(3, 143, 45);
                color: rgb(3, 143, 45);
            }
            .movil_91{
                img{
                    border: 6px double rgb(255, 255, 255);
                    box-shadow: 0 0 25px rgb(243, 66, 66);
                }
                text-shadow: 0 0 20px rgb(243, 66, 66);
                color: rgb(255, 255, 255);
            }
            .star_327{
                img{
                    border: 6px double rgb(99, 76, 3);
                    box-shadow: 0 0 25px rgb(99, 76, 3);
                }
                text-shadow: 0 0 20px rgb(255, 166, 0);
                color: rgb(255, 166, 0);
            }
            .legion_501{
                img{
                    border: 6px double rgb(0, 18, 184);
                    box-shadow: 0 0 25px rgb(0, 18, 184);
                }
                text-shadow: 0 0 20px rgb(18, 123, 243);
                color: rgb(255, 255, 255);
            }
            .batall_104{
                img{
                    border: 6px double rgb(63, 63, 63);
                    box-shadow: 0 0 25px rgb(63, 63, 63);
                }
                text-shadow: 0 0 20px rgb(255, 255, 255);
                color: rgb(255, 255, 255);
            }
            .coruscant{
                img{
                    border: 6px double rgb(70, 0, 0);
                    box-shadow: 0 0 25px rgb(70, 0, 0);
                }
                text-shadow: 0 0 20px rgb(255, 0, 0);
                color: rgb(255, 255, 255);
            }
            .bad_99{
                img{
                    border: 6px double rgb(0, 0, 0);
                    box-shadow: 0 0 25px rgb(150, 5, 5);
                }
                text-shadow: 0 0 20px rgb(150, 5, 5);
                color: rgb(255, 255, 255);
            }
            .delta{
                img{
                    border: 6px double rgb(141, 68, 0);
                    box-shadow: 0 0 25px rgb(0, 104, 0);
                }
                text-shadow: 0 0 20px rgb(207, 5, 5);
                color: rgb(214, 200, 3);
            }
        }
        .final_war{
            background-image: url("https://i.pinimg.com/originals/8c/1f/1c/8c1f1c008e1a5b71d5292b65bd8eb52c.jpg");
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
            height: 100%;
            background-size: cover;
            color:white;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            .flex{
                div{
                    margin: 1%;
                    width: 49%;
                }
            }
            p{
                color: rgb(255, 255, 255);
                text-shadow: 0 0 20px rgb(2, 53, 219);
                font-weight: 600;
                padding-left: 5%;
                padding-right: 5%;
            }
            p:hover{
                transition: all 500ms ease-out;
                color: #b80000;
                text-shadow: 0 0 20px rgb(255, 255, 255);
                font-weight: 600;
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }
    .padding_create_min{
        padding: 2%;
    }
}  
@media screen and (max-width: 768px){
    .republic{
        section{
            .clones{
                img{
                    height: 350px;
                }
            }
            .final_war{
                .flex{
                    display: flex;
                    flex-direction: column-reverse;
                    padding-left: 5%;
                    padding-right: 5%;
                    div{
                        margin: 1%;
                        text-align: center;
                        width: 90%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .republic{
        section{
            .clones{
                img{
                    height: 200px;
                }
            }
            .final_war{
                .flex{
                    display: flex;
                    flex-direction: column-reverse;
                    padding-left: 5%;
                    padding-right: 5%;
                    div{
                        margin: 1%;
                        text-align: center;
                        width: 90%;
                    }
                }
            }
        }
    }
}